@page
@model LokaleBookingRazor.Pages.Lokale.GetLokaleModel
@{
}
<h1>Lokaler</h1>

<div class="row">
    @if (Model.Lokaler != null)
    {
        foreach (var lokale in Model.Lokaler)
        {
            <div class="col-md-4 mb-4">
                <div class="card room-card">
                    <img class="card-img-top" src="~/Images/Logo v2.png" alt="Card image">

                    <div class="card-body d-flex flex-column">
						<h4 class="card-title">@lokale.Navn</h4>

						<p class="card-text">@lokale.Beskrivelse</p>

                        <ul class="list-unstyled">
							<li><strong>Id:</strong> @lokale.Id</li>
							<li><strong>SmartBoard:</strong> @lokale.SmartBoard</li>
							<li><strong>Størrelse (Kvadratmeter):</strong> @lokale.Størrelse</li>
							@switch(lokale.Type)
							{
								case 1:
									<li><strong>Type:</strong> Klasse lokale</li>
									break;
								case 2:
									<li><strong>Type:</strong> Møde lokale</li>
									break;
								case 3:
									<li><strong>Type:</strong> Auditorium</li>
									break;
							}
                        </ul>

						<div class="action-buttons mb-3">
							<a class="btn btn-primary btn-sm"
							   asp-page="/Booking/Create"
							   asp-route-id="@lokale.Id">
								<strong class="fa-solid fa-pen">Create Booking</strong>
							</a>
						</div>

						@if (Model.Bookings != null)
						{
							foreach (var booking in Model.Bookings)
							{
								var bruger = Model.Brugere.FirstOrDefault(b => b.Id == booking.BrugerId);

								if (lokale.Id == booking.LokaleId)
								{
									<div class="d-flex flex-wrap gap-2 mb-3">
										<div class="card room-card">
											<div class="card-body d-flex flex-column">
												<h4 class="card-title">@booking.Navn</h4>

												<p class="card-text">@booking.Beskrivelse</p>

												<ul class="list-unstyled">
													<li><strong>Start Tid:</strong> @booking.StartTid</li>
													<li><strong>Slut Tid:</strong> @booking.SlutTid</li>
													<li><strong>Booket af:</strong> @bruger?.Brugernavn</li>
												</ul>
											</div>

											@if (Model.CanDelete(booking))
											{
												<div class="action-buttons m-1">
													<a class="btn btn-danger btn-sm"
													   asp-page="/Booking/Delete"
													   asp-route-id="@booking.Id">
														<strong class="fa-solid fa-pen">Delete</strong>
													</a>
												</div>
											}
										</div>
									</div>
								}
							}
						}
					</div>
                </div>
            </div>
        }
    }
</div>