@page
@model LokaleBookingRazor.Pages.Lokale.GetLokaleModel
@{
}
<h1>Items</h1>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Name
			</th>
			<th>
				Beskrivelse
			</th>
			<th>
				SmartBoard
			</th>
			<th>
				Størrelse
			</th>
			<th>
				Type
			</th>
			<th>
				Booking
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Lokaler != null)
		{
			foreach (var item in Model.Lokaler)
			{
				<tr>
					<td>
						@item.Id
					</td>
					<td>
						@item.Navn
					</td>
					<td>
						@item.Beskrivelse
					</td>
					<td>
						@item.SmartBoard
					</td>
					<td>
						@item.Størrelse
					</td>
					<td>
						@item.Type
					</td>
					<td>
						@item.Booking
					</td>
				</tr>
			}
		}
	</tbody>
</table>